<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div id="main-container">
        	<div id="menu-container">
        	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>
                	<a href="/">strona główna</a> | <a href="/products">lista produktów</a> | <a href="/admin/new-product">dodaj produkt</a>
                </p>
                <p>Zalogowany jako: <b>{{ app.user.username }}</b> - <a href="/logout">wyloguj</a> </p>
            {% else %}
            	<p><a href="/">strona główna</a> | <a href="/products">lista produktów</a> | <a href="/login">zaloguj</a></p>
            {% endif %}
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
