@CHARSET "UTF-8";

body { 
	background: white; 
	font: 14px Arial; 
	color: #444;
}

h1, h2 { 
	line-height: 1.2; 
	margin: 0 0 .5em; 
}

h1 { 
	font-size: 36px; 
}

h2 { 
	font-size: 21px; margin-bottom: 1em; 
}

p { 
	margin: 0 0 1em 0; 
}

a { 
	color: #00aadd; 
	text-decoration: none;
}

code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
#wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
#container { padding: 2em; }
#welcome, #status { margin-bottom: 2em; }
#welcome h1 span { display: block; font-size: 75%; }
#icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
#icon-book { display: none; }

#main-container {
	background: #FFF; 
	margin: 1em auto; 
	max-width: 840px; 
	width: 95%;
}

#menu-container {
	text-align: right;
}

#menu-container a.active {
	text-decoration:underline;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;	
}

form[name=login] {
	width: 400px;
	margin: 0 auto;
}

form[name=login] div:first-child {
	text-align:right;
}

form[name=login] .error {
	color: red;
	font-weight: bold;
	text-align:center;
	padding: 4px;
}

form[name=login] div:first-child {
	color: #aaa;
	font-style: italic;
	font-size: 12px;
}

input[type=text], select, input[type=password], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[id=product_price] {
	text-align:right;
}

form[name=product] {
	width: 400px;
	margin: 0 auto;
}

form[name=product] ul {
	list-style: none;
	margin: 0;
	float: right;
	color: red;
}

.navigation {
	text-align: right;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	background: #eee;
}

nav ul li span {
	background: #fff;
}

nav ul li a, nav ul li span {
	padding: 4px 6px;
}

#product-list {
	width:100%;
	font-size: 14px;
	color: #444;
}

#product-list th {
	font-weight: normal;
	text-align: center;	
	padding: 14px 20px;
	background: #efefef;
	width: 100px;
}

#product-list th:first-child {
	width: inherit;
}

#product-list td:nth-child(2) {
	text-align: right;
}

#product-list td:nth-child(3) {
	text-align: center;
}

#product-list td:last-child {
	text-align: right;
}

#product-list {
    border-collapse: collapse;
}

#product-list, #product-list th, #product-list td {
    border: 1px solid #ccc;
}

#product-list td {
	padding: 8px 20px;
}

#product-list a.desc:after {
	margin-left: 2px;	
	vertical-align: middle;	
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADISURBVDhPYxgFDAy+VVvb/aq2/icHg/QCjfjPGFCzfV1i7/GvXds+/O/ejh+D1IDUgvSA9IJdEVq/ii2wZvvJ9ElnfmLThIxBakBqQXrAmmEgtHw3P9DUe3kzL//BphGEQXIgNSC1UG2oILBsmwzQ9DelC2//Q9cMEgPJgdRAlWMH/jVbdQNqtn2pXvEQrhnEBomB5KDK8APf6q1OQNu+Nqx99h+EQWyQGFSaOAC0MSaodudXEAaxocKkgYCqbdUgDOUOT8DAAAAp1uRzRqyujQAAAABJRU5ErkJggg==');
}

#product-list a.asc:after {
	margin-left: 2px;	
	vertical-align: middle;
	content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADISURBVDhPYxjmIKBqWzUIQ7mkgYCabTFBtTu/gjCIDRUmDvhWb3UKrNn+tWHts/8gDGKDxKDS+IF/zVZdoI1fqlc8/N+9/QMYg9ggMZAcVBl2EFi2TQZo25vShbf/wTTDMEgMJAdSA1WOCkLLd/MH1Gy/lzfz8h90zTAMkgOpAamFaoOA0PpVbEDTT6ZPOvMTm0ZkDFIDUgvSA9X+nxFo6rrE3uNfu7Zh14SMQWpAakF6QHoZfKu2tvtVbf1PDgbphbpiBAMGBgCgieRzcLlijQAAAABJRU5ErkJggg==');
}


@media (min-width: 768px) {
    #wrapper { width: 80%; margin: 2em auto; }
    #icon-book { display: inline-block; }
    #status a, #next a { display: block; }

    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}


